<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>example.PushNotificationInitTask</string>
		<key>priority</key>
		<integer>200</integer>
		<key>retention</key>
		<string>hold</string>
	</dict>
	<dict>
		<key>class</key>
		<string>example.ScreenshotTipTask</string>
		<key>priority</key>
		<integer>100</integer>
		<key>retention</key>
		<string>destroy</string>
	</dict>
</array>
</plist>
